/*  regole generali della pagina */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
}

li {
  padding: 10px;
}

.container {
  border: solid 0.5px blue;
  width: 100%;
}

header {
  border: solid yellow;
}

.navigation {
  border-bottom: solid 1px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.navigation .navleft {
  margin-left: 100px;
}

.navigation .navleft .smile {
  color: white;
  background-color: black;
}

.navigation .navright {
  margin-right: 100px;
}

.navigation .navright #SUbutton {
  width: 90px;
  border-radius: 5px;
  border: solid 1px blue;
  background-color: white;
  color: #233569;
  font-weight: bold;
}

.headerMain {
  display: -webkit-box;
  display: flex;
  padding: 100px;
}

.headerMain .headerLeft {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.headerMain .headerLeft .divBottoni {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

.headerMain .headerLeft .divBottoni .buttonH {
  width: 120px;
  border-radius: 5px;
  background-color: #233569;
  color: white;
  margin: 10px;
  padding: 10px;
}

.headerMain .headerRight {
  width: 50%;
}

.headerMain .headerRight .mainimg {
  width: 100%;
}

section {
  background-color: white;
}

main {
  border: solid green;
  background-color: #FFE7D2;
}

main h2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

main h3 {
  font-weight: 400;
}

.cont3imgs {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin-top: 100px;
}

.cont3imgs .cont {
  width: 25%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.cont3imgs .cont img {
  width: 30%;
}

.cont3imgs .cont span {
  text-align: center;
}

.cont3imgs .cont.c3_3 img {
  width: 12%;
}

.conConf {
  margin-top: 80px;
  margin-bottom: 80px;
  border-bottom: solid 1px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

.conConf img {
  width: 20%;
}

.mainSection {
  display: -webkit-box;
  display: flex;
  padding-top: 100px;
}

.mainSection .mainSectionLeft {
  width: 50%;
}

.mainSection .mainSectionLeft img {
  width: 100%;
}

.mainSection .mainSectionRight {
  width: 50%;
}

.mainSection .mainSectionRight img {
  width: 40%;
  padding: 20px;
}

.mainSection .mainSectionLeft2 {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  text-align: justify;
}

.mainSection .mainSectionLeft2 img {
  width: 40%;
  padding: 20px;
}

.mainSection .mainSectionRight2 {
  width: 50%;
}

.mainSection .mainSectionRight2 img {
  width: 100%;
}

