/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
}
li {
  padding: 10px;
}

.divBottoni {
  .buttonH {
    width: 120px;
    border-radius: 5px;
    background-color: $buttons;
    color: $brand_primary;
    padding: 10px;
  }
}
