header{
  border: solid yellow;
}

.navigation {
  border-bottom: solid 1px;
  display:flex;
  justify-content: space-between;
  font-size: 18px;
}

.navleft {
  margin-left: 100px;
  .smile {
    color: white;
    background-color: black;
  }
}

.navright {
  margin-right: 100px;
  #SUbutton {
    width: 90px;
    border-radius: 5px;
    border: solid 1px blue;
    background-color: white;
    color: #233569;
    font-weight: bold;
  }
}

// ----------------------------------------------

.headerMain {
  display: flex;
  padding: 100px;
}

.headerLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerRight {
  width: 50%;
}
.mainimg {
  width: 100%;
}

.buttonH {
    width: 120px;
    border-radius: 5px;
    background-color: #233569;
    color: white;
    margin: 10px;
    padding: 10px;
  }
.divBottoni {
  display: flex;
  align-items: center;
}
