// DEBUG:
header{
  border: solid yellow;
}

.navigation {
  // position: fixed;
  border-bottom: solid 1px;
  display:flex;
  justify-content: space-between;
  font-size: 18px;
  .navleft {
    margin-left: 100px;
    .smile {
      color: $brand_primary;
      background-color: black;
    }
  }
  .navright {
    margin-right: 100px;
    #SUbutton {
      width: 90px;
      border-radius: 5px;
      border: solid 1px blue;
      background-color: $brand_primary;
      color: $buttons;
      font-weight: bold;
    }
  }
}

// ----------------------------------------------

.headerMain {
  display: flex;
  padding: 100px;
  .headerLeft {
    width: 50%;
    @include flex-center;
    flex-direction: column;
    }

  .headerRight {
    width: 50%;
    .mainimg {
      width: 100%;
    }
  }
}
