main {
  border: solid green;
  background-color: $site_primary;
  height: 2000px;

  h2 {
    @include flex-center;
    margin-top: 50px;
  }
}

.cont3imgs {
  @include flex-center;
  margin-top: 100px;
    .cont {
      width: 25%;
      @include flex-center;
      flex-direction: column;
      img {
        width: 30%;
      }
      span {
        text-align: center;
      }
      .c3.3 {
        img {
          width: 5%;
        }
      }
    }
}
.conConf {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
  @include flex-center;
  img {
    width: 20%;
  }
}
